# Encore build artifacts
.encore
encore.gen.go
encore.gen.cue
/.encore
/encore.gen

# Node modules
node_modules

# Ignore environment variable files
.env
.env.*
frontend/.env
frontend/.env.*

# Ignore frontend build output
frontend/dist
dist

# Misc
.DS_Store

